<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decorations</title>
  </head>
  <body>
    <button type="button" onclick="enterEditMode()" id="editModeButton">
      Enter edit mode
    </button>
    <a href="/">
      <button id="leaveEditModeButton" style="display: none">
        Leave edit mode
      </button>
    </a>
    <table>
      <thead>
        <tr>
          <th>actions</th>
          <th>id</th>
          <th>name</th>
          <th>stock</th>
          <th>price</th>
        </tr>
      </thead>
      <tbody id="table">
        <% for (decor of decors) { -%>
        <tr>
          <td>
            <button type="button" onclick="deleteItem('<%= decor.id %>')">
              delete
            </button>
          </td>
          <td><%= decor.id %></td>
          <td><%= decor.name %></td>
          <td><%= decor.stock %></td>
          <td><%= decor.price %></td>
        </tr>
        <% } -%>
      </tbody>
    </table>
    <form action="/decoration" method="post" id="newForm">
      <label for="name">Name: </label>
      <input type="text" name="name" id="name">
      <label for="stock">Stock: </label>
      <input type="text" name="stock" id="stock">
      <label for="price">Price: </label>
      <input type="text" name="price" id="price">
      <button>Add new</button>
    </form>
  </body>
</html>
